<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.efrederickson.link2app.settings</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
                        <key>PostNotification</key>
                        <string>com.efrederickson.link2app/reloadScripts</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.efrederickson.link2app.settings</string>
			<key>detail</key>
			<string>L2AScriptController</string>
			<key>id</key>
			<string>script</string>
			<key>key</key>
			<string>script</string>
			<key>label</key>
			<string>Scripts</string>
			<key>name</key>
			<string>Scripts</string>
		</dict>
                <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
                        <key>label</key>
                        <string>Override In-App Browsers</string>
                        <key>footerText</key>
                        <string>This will cause URLs that Link2App changes to automatically be redirected to their corresponding apps, if the app’s in-app browser is supported. Apps like AlienBlue, Twitter, and Facebook all use in-app browsers and should therefore eventually be compatible, although i hope to implement the in-app browser overriding in Lua sometime.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.efrederickson.link2app.settings</string>
			<key>key</key>
			<string>overrideTwitter</string>
			<key>label</key>
			<string>Twitter</string>
                        <key>PostNotification</key>
                        <string>com.efrederickson.link2app/reloadScripts</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.efrederickson.link2app.settings</string>
			<key>key</key>
			<string>overrideWebUI</string>
			<key>label</key>
			<string>All WebUI (Safari & some apps)</string>
                        <key>PostNotification</key>
                        <string>com.efrederickson.link2app/reloadScripts</string>
		</dict>
	</array>
	<key>title</key>
	<string>Link2App</string>
</dict>
</plist>
